* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metal", sans-serif;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;
  background: #333;
}
#header .fa-caret-square-o-down {
  font-size: 5rem;
  z-index: 10000;
  color: #fff200;
  cursor: pointer;
  display: none;
}
#header .logo img {
  /* rem: Relative to font-size of the root element */
  height: 7rem;
  cursor: pointer;
  padding: 1rem;
}
#header nav ul {
  /* The Flexible Box Layout Module,
    makes it easier to design flexible responsive layout structure without using float or positioning. */
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
#header nav ul li {
  margin-right: 4rem;
}
#header nav ul li a {
  color: lightskyblue;
  font-size: 2rem;
}
#header nav ul li a:hover {
  color: #edd433;
  text-decoration: none;
}

.header-active {
  background: #333;
  height: 10rem;
  box-shadow: 0.2rem 0 0.5rem #000;
}
.header-active nav ul {
  margin: 0;
}
#home {
  /* background: #333; */
  position: relative;
  margin-top: 10rem;
}
.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container .card {
  /* height: 61rem; */
  width: 60rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  border-radius: 3rem;
}

#home .card-container .card .card-header {
  background-color: lightgoldenrodyellow;
  border-radius: 3rem;
  padding-top: 1rem;
  margin: 1rem;
  text-align: left;
}

#home .card-container .card .card-footer {
  background: lightskyblue;
  border-radius: 4rem;
}
#home .card-container .card img {
  padding: 1rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 15rem; */
}
#home .card-container .card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  /* color: #333; */
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3rem;
  width: 10rem;
  background: #333;
  color: #fff;
}
#home .card-container .card .nav-item {
  padding-left: 3rem;
}

#home .card-container .card p {
  font-size: 1.2rem;
  /* font-weight: ; */
}

#home .card-container .card-title #caption {
  font-size: 2rem;
  /* font-weight: bold; */
  text-align: left;
}

#home .card-container .card button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff200;
  height: 100%;
  width: 0%;
  transition: 0.2s;
  z-index: -1;
}
#home .card-container .card button:hover::before {
  width: 100%;
}
#home .card-container .card button:hover {
  color: #333;
}

.card-container .card .user_icon {
  width: 80px;
  padding: 5px 15px 10px 10px;
}

.card-container .card .user_icon img {
  width: 100%;
  border-radius: 50%;
}

.card-container .card .user_details a .user_name {
  color: rgb(21, 32, 43);
  font-size: 17px;
  font-weight: bold;
}

#home .card-container .card .user_details a .datetime {
  padding-left: 10px;
  color: rgb(71, 71, 71);
  font-size: 14px;
}

#home .card-container .card .user_details {
  padding: 8px 0 0 0;
  margin-bottom: 8px;
}
#home .card-container .card .user_details a {
  text-decoration: none;
}

.fa-times {
  transform: skew(-180deg) rotate(-180deg);
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #header .fa-caret-square-o-down {
    display: block;
  }
  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: #000;
  }
  #header nav ul {
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #header nav ul li {
    margin: 2rem 0;
  }
  #header nav ul li a {
    font-size: 3.5rem;
    border-radius: 5rem;
  }
  #header nav ul li a:hover {
    padding: 0.5rem 7.5rem;
    color: #333;
    background: #fff200;
  }
  #header .nav-toggle {
    left: 0%;
  }
}
